<div class="user u-flex {{ class|default('') }}" style="display: flex;">
    {% block image %}{% endblock %}
    <div class="user__info">
        {% if block('name') is defined %}
            <h2 class="user__name u-bold">{{ block('name') }}</h2>
        {% endif %}
        {% if block('role') is defined %}
            <div class="user__role">{{ block('role') }}</div>
        {% endif %}
        {% if block('position') is defined %}
            <i class="user__position u-italic">{{ block('position') }}</i>
        {% endif %}
        {% if block('bio') is defined %}
            <div class="user__bio u-wysiwyg">
                {{ block('bio') }}
            </div>
        {% endif %}
        {% if block('social') is defined %}
        <div class="user__social">
            <ul class="user__social-list u-flex" aria-label="{{ 'a11y.visit_user_rrss'|trans }}">
                {{ block('social') }}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
