{% macro placeholder(info) %}
    {% import _self as user %}
    {% if not info.image %}
        {% set info = info|merge({image: "http://lionhallattorneys.com.ng/wp-content/uploads/2015/12/empty-profile.png"}) %}
    {% endif %}
    {{ user.image(info) }}
{% endmacro %}

{% macro image(info) %}
    {% if info.image %}
    <img class="user__img" src="{{ info.image }}" itemprop="image" alt="{{ info.fullName }}" aria-hidden="true" style="max-height: 60px;">
    {% endif %}
{% endmacro %}

{% macro info(info) %}
    {% if info.name is defined %}
        <h2 class="user__name u-bold">{{ info.name }}</h2>
    {% endif %}
    {% if info.role is defined %}
        <div class="user__role">{{ info.role }}</div>
    {% endif %}
    {% if info.charge is defined %}
        <i class="user__position u-italic">{{ info.charge }}</i>
    {% endif %}
    {% if info.bio is defined %}
    <div class="user__bio u-wysiwyg">
        {{ info.bio|raw }}
    </div>
    {% endif %}
{% endmacro %}

{% macro social(info, network) %}
    <li class="user__social-item"><a class="user__social-icon user__social-icon--{{ network }}" href="{{ info[network] }}" target="_blank" title="{{ 'a11y.' ~ network ~ '_of'|trans }} {{ info.name }}">icon-{{ network }}</a></li>
{% endmacro %}
